<h2 class="p-3 text-center">
    Заявки владельцев
</h2>

<div class="p-4 container">
    <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Действия</th>
              <th scope="col">ID</th>
              <th scope="col">ID кофейни</th>
              <th scope="col">Пользователь</th>
              <th scope="col">Логин Telegram</th>
            </tr>
      </thead>
      <tbody>
          <tr *ngFor= "let claim of claims">
              <td>
                <button class="btn btn-primary me-1" (click)="confirm(claim.id)">Одобрить</button>
                <button class="btn btn-danger" (click)="reject(claim.id)">Отклонить</button>
              </td>
              <td>{{claim.id}}</td>
              <td>
                <a href="#" class="link-secondary" data-bs-toggle="modal" data-bs-target="#detailsCoffeeShop" (click)="prepareCoffeeShopDetailsForm(claim.cafeId)">
                  {{claim.cafeId}}
                </a>
              </td>
              <td>
                <a href="#" class="link-secondary" data-bs-toggle="modal" data-bs-target="#detailsUser" (click)="prepareUserDetailsForm(claim.userId)">
                  {{claim.userId}}
                </a>
              </td>
              <td>
                {{claim.messengerLogin}}
              </td>
          </tr>
      </tbody>
    </table>
</div>

<div class="modal fade" id="detailsCoffeeShop" tabindex="-1" area-labellebdy="exampleModalLabel" area-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подробная информация о кофейне</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="coffeeShopDetails">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Название</label>
            <input type="text" readonly formControlName="name" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Описание</label>
            <input type="text" readonly formControlName="description" class="form-control" id="description">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Геолокация</label><br>
            <span>{{ location }}</span>
            
            <app-immutable-map [location]="location" [editable]="false" [name]="'map for details form'"></app-immutable-map>
            
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Адрес</label>
            <input type="text" readonly formControlName="address" class="form-control" id="address">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Телефон</label>
            <input type="tel" readonly formControlName="phone" class="form-control input-medium bfh-phone" id="phone" data-format="+7 (ddd) ddd-dd-dd"> 
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Расписание работы</label><br>
            <div class="d-flex workDayInputBlock" *ngFor= "let workDay of schedule.workingHours">
              <p class="workDayName">{{ workDay.weekday }}</p>
              <input type="time" readonly id="time" name="time" min="00:01" max="23:59" [(ngModel)]="workDay.start_time" [ngModelOptions]="{standalone: true}" required>
              <input type="time" readonly id="time" name="time" min="00:01" max="23:59" [(ngModel)]="workDay.end_time" [ngModelOptions]="{standalone: true}" required>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Админ кофейни</label>
            <input type="text" readonly formControlName="manager" class="form-control" id="manager">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="detailsUser" tabindex="-1" area-labellebdy="exampleModalLabel" area-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Подробная информация о пользователе</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userDetails">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="text" readonly formControlName="id" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Имя пользователя</label>
            <input type="text" readonly formControlName="username" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ФИО</label>
            <input type="text" readonly formControlName="firstName" class="form-control">
            <input type="text" readonly formControlName="surname" class="form-control">
            <input type="text" readonly formControlName="patronymic" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="email" readonly formControlName="email" class="form-control"> 
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Дата рождения</label>
            <input type="date" readonly formControlName="birthDay" class="form-control"> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>