
<div class="cafeteriaModal">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ coffeeShop.name }}</h5>
  <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" [checked]="inFavorites" (click)="addToFavorite(coffeeShop.id)">
  <label class="btn btn-outline-warning ml-2" for="btn-check-outlined"><i class="bi bi-award"></i></label>
  <div>
    <button type="button" class="btn btn-light iAmOwnerButton" (click)="openOwnershipClaimModal(coffeeShop.id)">Я владелец</button>
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  
</div>
<div class="modal-body">
  <form [formGroup]="commentForm">
    <div class="cafeteriaInfo">
      <div class="info">
        <app-immutable-map [location]="location" [editable]="false" [name]="'map for details form'"></app-immutable-map>
      </div>
      
      <div class="info">
        <table class="table">
          <tbody>
            <tr>
              <td><b>Описание</b></td>
              <td>{{ coffeeShop.description }}</td>
            </tr>
            <tr>
              <td><b>Адрес</b></td>
              <td>{{ coffeeShop.address }}</td>
            </tr>
            <tr>
              <td><b>Номер телефона</b></td>
              <td>{{ coffeeShop.phone }}</td>
            </tr>
            <tr *ngIf="coffeeShop.url">
              <td><b>Сайт</b></td>
              <td>{{ coffeeShop.url }}</td>
            </tr>
            <tr *ngIf="coffeeShop.workingHours">
              <td><b>Расписание</b></td>
              <td>
                <div *ngFor="let workingHour of coffeeShop.workingHours">          
                  {{ workingHour.weekday }}: {{ workingHour.start_time }}-{{ workingHour.end_time }}
              </div>
              </td>
            </tr>
            <tr *ngIf="coffeeShop.perks">
              <td><b>Особенности</b></td>
              <td>
                <div class="d-flex">
                  <div *ngFor="let cafePerk of coffeeShop.perks">
                    <div *ngFor="let p of perks">
                      <div *ngIf="cafePerk.perk.title===p.type">
                        <i data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="p.isIcon" class={{p.filledIcon}} id="perk"></i>
                        <img data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="!p.isIcon" src={{p.filledIcon}} id="perk">
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="promotionsSlides.length != 0">
      <h5><b>Акции</b></h5>
      <ngb-carousel *ngIf="promotionsSlides" [showNavigationArrows]="true" [showNavigationIndicators]="false" [animation]="true">
        <ng-template ngbSlide *ngFor="let slide of promotionsSlides">
          <div class="row">
            <div class="item card col-md-3" *ngFor="let promotion of slide.promotions">
              <div class="card-body">
                <h5 class="card-title">{{ promotion.title }}</h5>
                <p class="card-text">{{ promotion.description }}</p>
              </div>
              <div class="card-footer">
                <button type="button"class="btn btn-outline-secondary" (click)="openPromotionDetails(promotion)">
                  Подробнее
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="col-sm-10">
      <div class="inputComment">
        <input type="text" formControlName="comment" class="form-control comment" placeholder="Оставить комментарий" aria-label="Оставить комментарий" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-success addComment" (click)="addReview()">Отправить</button>
      </div>
      
      <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>

      <div class="writeComment">
        <span>Особенности кофейни:</span>
        <div *ngFor="let perk of perks">
          <button class="btn" data-toggle="tooltip" data-placement="right" title="{{perk.title}}" (click)="perk.state=!perk.state" *ngIf="!perk.state && perk.isIcon"><i class={{perk.plainIcon}} id="perk"></i></button>
          <button class="btn" data-toggle="tooltip" data-placement="right" title="{{perk.title}}" (click)="perk.state=!perk.state" *ngIf="perk.state && perk.isIcon"><i class={{perk.filledIcon}} id="perk"></i></button>
  
          <button class="btn" data-toggle="tooltip" data-placement="right" title="{{perk.title}}" (click)="perk.state=!perk.state" *ngIf="!perk.state && !perk.isIcon"><img src={{perk.plainIcon}}></button>
          <button class="btn" data-toggle="tooltip" data-placement="right" title="{{perk.title}}" (click)="perk.state=!perk.state" *ngIf="perk.state && !perk.isIcon"><img src={{perk.filledIcon}}></button>
        </div>
      </div>
      
      
    </div>
    
  </form>
</div>

<div *ngIf="grades?.length != 0">
  <h3 class="reviewList">Отзывы</h3>
</div>


<div *ngFor="let userGrade of grades">
  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                <p class="text-secondary text-center">{{userGrade.date | date}}</p>
            </div>
            <div class="col-md-10">
                <p>
                    <a class="float-left">
                      <strong>{{userGrade.user.username}}</strong>
                      <span *ngIf="authService.user?.isAdmin || userGrade.user.username===commentatorName" class="editCommentIcon">
                        <button type="button" class="btn btn-primary btn-sm" (click)="prepareEditGrade(userGrade)">
                          <i class="bi bi-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteGrade(userGrade.user.id)">
                          <i class="bi bi-trash"></i>
                        </button>
                      </span>
                    </a>
                    
                    <span class="float-right" *ngIf="!editState">
                      <ngb-rating [max]="5" [rate]="userGrade.grade" [readonly]="true"></ngb-rating>
                      <div class="d-flex">
                        <div *ngFor="let perk of userGrade.perks">
                          <div *ngFor="let p of perks">
                            <div *ngIf="perk.title===p.type">
                              <i data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="p.isIcon" class={{p.filledIcon}} id="perk"></i>
                              <img data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="!p.isIcon" src={{p.filledIcon}} id="perk">
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </span>

                    <span class="float-right" *ngIf="editState && userGrade.user.username!=commentatorName">
                      <ngb-rating [max]="5" [(rate)]="userGrade.grade"></ngb-rating>
                      <div class="d-flex">
                        <div *ngFor="let perk of userGrade.perks">
                          <div *ngFor="let p of perks">
                            <div *ngIf="perk.title===p.type">
                              <i data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="p.isIcon" class={{p.filledIcon}} id="perk"></i>
                              <img data-toggle="tooltip" data-placement="right" title="{{p.title}}" *ngIf="!p.isIcon" src={{p.filledIcon}} id="perk">
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </span>

                    <span class="float-right" *ngIf="editState && userGrade.user.username===commentatorName">
                      <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                      <div class="d-flex">
                        <div *ngFor="let perk of perks">
                          <button data-toggle="tooltip" data-placement="right" title="{{perk.title}}" class="btn" (click)="perk.state=!perk.state" *ngIf="!perk.state && perk.isIcon"><i class={{perk.plainIcon}} id="perk"></i></button>
                          <button class="btn" (click)="perk.state=!perk.state" *ngIf="perk.state && perk.isIcon"><i class={{perk.filledIcon}} id="perk"></i></button>
  
                          <button data-toggle="tooltip" data-placement="right" title="{{perk.title}}" class="btn" (click)="perk.state=!perk.state" *ngIf="!perk.state && !perk.isIcon"><img src={{perk.plainIcon}}></button>
                          <button class="btn" (click)="perk.state=!perk.state" *ngIf="perk.state && !perk.isIcon"><img src={{perk.filledIcon}}></button>
                        </div>
                      </div>
                    </span>
               </p>
               <div class="clearfix"></div>
                <p *ngIf="!editState">{{userGrade.comment}}</p>
                <p *ngIf="editState && userGrade.user.username!=commentatorName">
                  {{userGrade.comment}}
                </p>
                <p *ngIf="editState && userGrade.user.username===commentatorName">
                  
                  <input type="text" value={{userGrade.comment}} [(ngModel)]="editableComment" class="form-control">
                  <button type="button" class="btn btn-success editComment" (click)="editGrade(userGrade.user.id)">Изменить оценку</button>
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

