.modal-body {
    float: left;
}

.cafeteriaInfo {
    float: left;
}

.writeComment {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.reviewList {
    text-align: center;
}

.info {
    display: flex;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px; 
    margin-right: 10px;
}

.gradesTable {
    margin-left: auto;
    margin-right: auto;
}

.editCommentIcon {
    margin-left: 10px;
}

.editComment {
    margin: 10px;
}

#perk {
    margin-right: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: center;
}