.modal-body {
    float: left;
}

.cafeteriaInfo {
    float: left;
}

.writeComment {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.reviewList {
    text-align: center;
}

.info {
    display: flex;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px; 
    margin-right: 10px;
}

.gradesTable {
    margin-left: auto;
    margin-right: auto;
}

.editCommentIcon {
    margin-left: 10px;
}

.inputComment {
    display: inline-flex;
}

.editComment {
    margin: 10px;
}

.comment {
    height: 40px;
    width: 500px;
}

.addComment {
    margin-left: 20px;
    margin-right: 20px;
}

#perk {
    margin-right: 10px;
}

.row {
    display: flex;
    justify-content: center;
}

.card-footer {
    display: flex;
    justify-content: center;
}

fieldset {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 5px;
}