<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <h3 class="text text-center mb-5">Регистрация</h3>
    <div *ngIf="registerFailed" class="alert alert-danger">
      <span>{{registerFailureDescription}}</span>
    </div>
    <input formControlName="username" type="text" class="form-control" placeholder="Логин" required>
    <div
      *ngIf="formControl['username']!.invalid && (formControl['username']!.touched || formControl['username']!.dirty)" class="alert alert-danger"
    >
      <span *ngIf="formControl['username']!.errors?.['required']"
        >Требуется ввести логин
      </span>
    </div>
  
    <input formControlName="email" type="email" class="form-control" placeholder="Почта" required>
    <div
      *ngIf="formControl['email']!.invalid && (formControl['email']!.touched || formControl['email']!.dirty)" class="alert alert-danger"
    >
      <span *ngIf="formControl['email']!.errors?.['required']"
        >Требуется ввести адрес почты
      </span>
      <span *ngIf="formControl['email']!.errors?.['email']"
        >Адрес почты некорректен
      </span>
    </div>

    <div class="input-group">
      <input formControlName="password" [type]="hide ? 'text' : 'password'" class="form-control" placeholder="Пароль" required>
      <a class="btn border">
        <i [class]="showEye ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="showPassword()"></i>
      </a>
    </div>
    
    <div *ngIf="formControl['password']!.invalid && (formControl['password']!.touched || formControl['password']!.dirty)" class="alert alert-danger">
      <span *ngIf="formControl['password']!.invalid">
        Пароль должен состоять как минимум из 6 символов
      </span>
    </div>

    <button [disabled]="!form.valid" class="w-100 btn btn-lg btn-primary submitButton" type="submit">Submit</button>
  </form>
</main>
