/* app-unmutable-map {
    display: flex;
    float: left;
}

app-user-coffee-shops-list {
    display: flex;
    float: right;
} */

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* .container .btn {
    position:absolute;
    bottom: 10px;
    right: 10px;
} */