<div class="modal-header">
    <i class="bi bi-exclamation-circle-fill me-3 warning"></i>
    <h5 class="modal-title">Конфликт при добавлении кофейни</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss(false)" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p>Пожалуйста, убедитесь, что кофейни по близости не дублируют создаваемую кофейню.</p>
    <div class="p-4 container">
        <table class="table table-bordered">
          <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">Название кофейни</th>
                <th scope="col">Адрес</th>
                <th scope="col">Просмотр</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let coffeeShop of coffeeShops; let i = index">
                <td>{{i+1}}</td>
                <td>{{coffeeShop.name}}</td>
                <td>{{coffeeShop.address}}</td>
                <td>
                    <button class="btn btn-sm btn-info me-1" (click)="openCoffeeShopModalDetails(coffeeShop)">Подробнее</button>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss(false)">Отмена</button>
    <button type="button" class="btn btn-primary" (click)="submitCreation()">Подтвердить создание</button>
</div>