<!-- Тестовые данные на будущее -->
<div class="PlacePagePromoList_root">
    <ul>
        <li class="PlacePagePromoList_item">
            <div class="PlacePagePromoList_icon">
                <img src="https://avatars.mds.yandex.net/get-eda/1387779/5bb13c55ddf94/orig" class="PlacePagePromoList_iconImage">
            </div>
            <div class="PlacePagePromoList_content">
                <h3 class="PlacePagePromoList_title">Блюдо в подарок</h3>
                <p class="PlacePagePromoList_description">Пицца Моцарелла с ветчиной в подарок при заказе от 2100₽ без учёта доставки</p>
            </div>
        </li>   
    </ul>    
</div>
