/* You can add global styles to this file, and also import other style files */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-signin .form-control:focus {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */



.carousel-control-prev-icon{
  background-image: url('https://img.icons8.com/cotton/344/back.png') !important
}

.carousel-control-next-icon{
 background-image: url('https://img.icons8.com/cotton/344/forward.png') !important
}

.carousel-control-prev, .carousel-control-next {
  width: auto;
}